h1 .typewrite {
  font-size: 47px;
  text-decoration: none;
  color: inherit;
  padding: 0;
  background: none;
  background-image: linear-gradient(110deg, rgba(255, 193, 7, 0.4) 0%, rgba(255, 193, 7, 0.4) 100%);
  /* background-repeat: no-repeat; */
  background-size: 0% 1em;
}

.silabushover:hover {
  color: #000;
  text-decoration: none;
}

.image-office {
  /* height: 110px;
  width: 200px; */
  height: 5rem;
}

.hoverrr {
  transition: 0.3s;
}

.hoverrr:hover {
  transform: translateY(-6px);
}

.hover:hover {
  background-color: #fcba41;
}

.hover-x {
  transition: 0.3s;
}

.hover-x:hover {
  transform: translateX(6px);
}

/* =========================================== */



/* ==================================== */

.carousel{
  width:100%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  /* border: 2px solid #000; */
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:#f7922e;
}


.carousel-testimoni-f .card {
  width:100%;
  
}

.carousel-testimoni-f .card img {
  width:100%;
  height:100%;
}
